@charset "UTF-8";

@font-face {
    font-family: 'Montserrat';
    src: url(../fontes/Montserrat-VariableFont_wght.ttf);
}

:root {
    --cor: black;
    --font: 'Montserrat';
}

body {
    background: url(../imagens/fundo.jpg) no-repeat;
    background-size: cover;
    padding: 5% 13%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > ul {
    display: flex;
    list-style-type: none;   
}

header > #redes > li {
    padding: 5px;
}

header > #redes > li > a > img{
    width: 30px;
}

main > section#principal {
    font-size: 1.1em;
    padding-left: 8%;
    color: rgb(202, 196, 196);
    font-family: var(--font), sans-serif;
}

main > section#principal > h1 {
    margin-bottom: 40px;
    font-size: 80px;
    font-weight: 200;
}

main > section#principal > p {
    display: block;
    width: 500px;
    text-align: justify;
    padding-left: 5%;
    line-height: 1.45em;
}