@charset "UTF-8";

@font-face {
    font-family: 'Montserrat';
    src: url(../fontes/Montserrat-VariableFont_wght.ttf);
}

:root {
    --cor: black;
    --font: 'Montserrat';
}

body {
    background: url(../imagens/fundo.jpg) no-repeat;
    background-size: cover;
    padding: 4% 10%;
    color: #ffffff;
    font-family: var(--font), sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > ul {
    display: flex;
    list-style-type: none;   
}

header > ul#redes > li {
    padding: 5px;
}

header > ul#redes > li > a > img{
    width: 30px;
}

header > ul#redes > li > a > img:hover{
    width: 35px;
    transition: 0.1s;
}

main {
    display: flex;
    justify-content: space-around;
}

main > section#principal {
    
}

main > section#principal > h1 {
    margin-bottom: 40px;
    font-size: 80px;
    font-weight: 200;
}

main > section#principal > p {
    display: block;
    font-size: 1.25em;
    width: 500px;
    text-align: left;
    padding-left: 5%;
}

main > section#projects{
    padding-top: 100px;
}

main > section#projects > h2{
    padding-left: 22px;
}

main > section#projects > ul{
    list-style: none;
}

main > section#projects > ul > li{
    padding: 7px;
}

main > section#projects > ul > li > a {
    padding-bottom: 3px;
    color: #ffffff;
    font-family: var(--font), sans-serif;
    text-decoration: none;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, #ab0202, #170000) 1;
}

main > section#projects > ul > li > a:hover {
    font-size: 1.1em;
    transition: 1s;
}