@charset "UTF-8";

@font-face {
    font-family: 'Montserrat';
    src: url(../fontes/Montserrat-VariableFont_wght.ttf);
}

:root {
    --cor: black;
    --font: 'Montserrat';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../assets/fundo.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 4% 10%;
    color: #ffffff;
    font-family: var(--font), sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > ul#redes {
    display: flex;
    list-style-type: none;   
}

header > ul#redes > li {
    padding: 5px;
}

header > ul#redes > li > a > img{
    width: 35px;
    transition: transform 0.1s ease-in-out;
}

header > ul#redes > li > a > img:hover{
    transform: scale(1.1);
}

main {
    display: flex;
    justify-content: space-around;
    height: 90%;
    align-items: center;
}


main > section#principal > h1 {
    margin-bottom: 40px;
    font-size: 5em;
    font-weight: 200;
}

main > section#principal > p, strong {
    display: block;
    font-size: 1.25em;
    width: 500px;
    text-align: justify;
    padding: 0 0 2vh 2vw;
}


main > section#projects{
}

main > section#projects > h2{
    padding-bottom: 10px;
}

main > section#projects > ul{
    list-style: none;
}

main > section#projects > ul > li{
    padding: 7px 10px 7px 10px;
}

main > section#projects > ul > li > a {
    display: inline-block;
    padding-bottom: 3px;
    color: #ffffff;
    font-family: var(--font), sans-serif;
    text-decoration: none;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, #ab0202, #170000) 1;
    transition: transform .15s ease-in-out;
}

main > section#projects > ul > li > a:hover {
    transform: scale(1.1);
    
}


@media screen and (min-width: 1025px) {

}

@media screen and (max-width: 1024px) {
    main {
        display: grid;
    }

    main > section#principal > h1{
        font-size: 4em;
        text-align: center;
        padding-top: 20px;
        margin-bottom: 30px;
    }
    
    section#projects {
        margin: auto;
    }
}

@media screen and (max-width: 640px) {
    body {
        padding: 0;
    }
    
    header {
        padding: 4% 10% 0 10%;
    }
}

@media screen and (max-width: 550px) {
    header > a > img {
        width: 55px;
    }

    header > ul#redes > li > a > img {
        width: 30px;
    }
    
    main > section#principal > h1 {
        width: 70vw;
        font-size: 3.3em;
    }

    main > section#principal > p, strong {
        width: 70vw;
        font-size: 1.1em;
    }
}

@media screen and (max-height: 680px){
    main > section#principal > h1 {
        padding: 0;
        margin-bottom: 15px;
        font-size: 3em;
    }

    main > section#principal > p, strong {
        font-size: 1em;
    }

    section#projects {
        margin-top: -15px;
    }
    
}